<h1>Roulette</h1>
<p>Aquí puedes rollear manualmente</p>
<%= link_to "Roll", roulettes_create_path, method: :get %>

<table>
  <thead>
    <tr>
      <th>Result</th>
      <th>Date</th>
      <% @users.each do |user| %>
        <th> <%= user.name %> </th>
        <% end %> 
      <th>Resultado</th>
      <th>Ganancia / Perdida</th>
      <th>Saldo</th>
    </tr>
  </thead>

  <tbody>
    <% @rolls.each do |draw| %>
      <tr>
        <td><%= draw.result %></td>
        <td><%= draw.created_at %></td>
        <td>
          
            <% draw.bets.each do |bet| %>
            <%= bet.color_bet %>
            <% end %>
          
        </td>


        <td>
        
          <% if draw.result == draw.bets.map { |bet| bet.color_bet }[0]  %>
            <%= "Gano" %>
          <% else %>
            <%= "Perdió" %>
          <% end %></td>

        <td>

          <% if draw.result == draw.bets.map { |bet| bet.color_bet }[0]  %>
            <%= draw.bets.map { |bet| bet.cash_bet }[0]  %>
          <% else %>
            <%= draw.bets.map { |bet| bet.cash_bet*-1 }[0]   %>
          <% end %>

        </td> 
        <td>
          <% @users.each do |user| %>
            <th><%= user.money %> </th>
          <% end %> 
        </td>



        
      </tr>
    <% end %>
  </tbody>
</table>

