<!DOCTYPE html>
<html>
  <head>
    <title>Ruleta2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to 'Ruletas', roulettes_index_path %>
    <%= link_to 'Jugadores', users_path %>
  </nav>
    <%= yield %>
  </body>
</html>
